#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

# navio2 config for Catapult Two
uorb start
if [ -f eeprom/parameters ]
then
	param load
fi
param set SYS_AUTOSTART 14003
param set PWM_RATE 400
#param set MAV_BROADCAST 1
#param set MAV_TYPE 21
param set BAT_ADC_CHANNEL 2
#param set BAT_N_CELLS 3
#param set BAT_V_EMPTY 3.5
#param set BAT_V_CHARGED 4.05
#param set BAT_V_LOAD_DROP 0.1
#param set BAT_CNT_V_VOLT 0.001
param set BAT_V_DIV 11.30000019
#param set BAT_V_DIV 11.68211651
#param set BAT_CNT_V_CURR 0.001
param set BAT_A_PER_V 17
#param set BAT_A_PER_V 15.391030303
dataman start
df_lsm9ds1_wrapper start -R 4
#df_mpu9250_wrapper start -R 10
#df_hmc5883_wrapper start
df_ms5611_wrapper start
navio_rgbled start
navio_adc start
battery_status start
gps start -d /dev/spidev0.0 -i spi -p ubx
sensors start
commander start
navigator start
ekf2 start
land_detector start multicopter
#vtol_att_control start #not supported on Linux platform
#fw_att_control start
#fw_pos_control_l1 start
mc_pos_control start
mc_att_control start
mavlink start -x -u 14556 -r 1000000
mavlink stream -u 14556 -s HIGHRES_IMU -r 50
mavlink stream -u 14556 -s ATTITUDE -r 50

if [ -f /dev/ttyUSB0 ]
then
	mavlink start -x -d /dev/ttyUSB0
	mavlink stream -d /dev/ttyUSB0 -s HIGHRES_IMU -r 50
	mavlink stream -d /dev/ttyUSB0 -s ATTITUDE -r 50
fi

navio_sysfs_rc_in start
linux_pwm_out start -d /sys/class/pwm/pwmchip0 -p navio -n 8 -m ROMFS/px4fmu_common/mixers/catapult_two.main.mix
logger start -t -b 200
mavlink boot_complete
